<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
this is my home page
    </h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora iusto odio quaerat, aspernatur illum impedit modi quo. Fugiat, quas voluptates omnis modi alias nam laborum quisquam nostrum temporibus, sequi reprehenderit eligendi obcaecati est quos, repudiandae voluptatum cum. Dolores, possimus?
    </p>
    <button>Click me!</button>
</body>
</html>