#countLabel{
    text-align: center;
    display: block;
    font-size: 10em;
    font-family: Helvetica ;
}

#buttonContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(154, 70, 233);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(118, 53, 179);
}