body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: blue;
}
form{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}
#textbox{
    text-align: center;
    font-size: 2em;
    width: 50%;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, 0.348);
}

label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgba(236, 51, 51, 0.895);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    

}

button:hover{
    background-color:rgb(224, 11, 11) ;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}