body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mybutton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(245, 107, 121);
    transition: background-color 0.25s;
    cursor: pointer;
}
#mybutton:hover{
    background-color: rgba(170, 6, 25, 0.813);
}
.mylabel{
    font-size: 3em;
}